@tailwind base;
@tailwind components;
@tailwind utilities;

.video-box {
    flex-basis: 720px;
    min-width: 720px;
}

video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.chatlog {
    margin: 2px 8px;
    display: flex;
    flex-direction: column;
}

.chatlog .name {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.56);
}

.chatlog .bubble {
    font-size: 20px;
    color: white;
    background: #23233F;
    border-radius: 0 6px;
    padding: 8px 16px;
    align-self: start;
}

#backlog-wrapper {
    margin: 16px 0 4px 0;
}

.wave-emoji {
    transform-origin: 75% 75%;
}